<!DOCTYPE html>
<html lang="en">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Человек</title>
</head>
<body>
<p th:text="${user1.getId()}"> value </p>
<p th:text="${user1.getName()}"> value </p>
<p th:text="${user1.getLastname()}"> value </p>
<p th:text="${user1.getAge()}"> value </p>
<a th:href="@{/user/{id}/edit (id=${user1.getId()})}"> Update </a>
<form th:method="DELETE" th:action="@{user/{id}(id=${user1.getId()})}">
    <input type="submit" value="Delete">
</form>
</body>
</html>